// Headings for sections 
.heading_cnt {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


//====================================== Breakpoints
@media (max-width: 780px) {
    .heading_cnt {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}

@import "hero";
@import "about";
@import "work";
@import "clients";
@import "dribble";